AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_URL={{ aws_url }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
DATABASE_URL={{ database_url }}
DATA_DOG_API_KEY={{ data_dog_api_key }}
DATA_DOG_HOST_NAME={{ data_dog_host_name }}
DATA_DOG_INSTANCE_NAME={{ data_dog_instance_name }}
GOFIGURE_URL={{ gofigure_url }}
GOFIGURE_API_USERNAME={{ gofigure_api_username }}
GOFIGURE_API_PASSWORD={{ gofigure_api_password }}
