export AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
export AWS_URL={{ aws_url }}
export AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
export DATABASE_URL={{ database_url }}
export DATA_DOG_API_KEY={{ data_dog_api_key }}
export DATA_DOG_HOST_NAME={{ data_dog_host_name }}
export DATA_DOG_INSTANCE_NAME={{ data_dog_instance_name }}
export GOFIGURE_URL={{ gofigure_url }}
export GOFIGURE_API_USERNAME={{ gofigure_api_username }}
export GOFIGURE_API_PASSWORD={{ gofigure_api_password }}
